body {
	font-size:18px;
	/* Commented out in bootstrap.css */
	font-family: "source Sans pro", Helvetica, Arial, sans-serif;
	color:#444;
}

p {
	margin-bottom:20px;
	font-weight:400;
	line-height:1.7em;
}

pre {
	margin:20px 0px;
	word-wrap: normal !important;
	white-space: pre !important;
}

pre code {
	word-wrap: normal !important;
	white-space: pre !important;
	overflow-x: visible !important;
}

h2 {
	padding-top:1.4em;
	padding-bottom:0.9em;
	margin:0;
	font-weight:600;
	line-height:1.4em;
}

h3 {
	color:#637394;
	font-size:20px;
	line-height:1.7em;
	padding-bottom:0.5em;
	padding-top:1em;
}

img {
	max-width:100%;
	height:auto;
}

a:hover {
	text-decoration:none;
}


.social-links {
	background-color:#637394;
	margin-bottom:0;
	border-radius:0px;
	min-height:35px;
	height:35px;
}

.social-links li a {
	color:white;
	font-variant: small-caps;
	letter-spacing:1px;
	font-size:18px;
	min-height:35px;
	height:35px;
	line-height:35px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}

a.social {
	color: white;
}

.social-links li a:hover {
	background-color:transparent;
}

#nav {
	background-color:#f7f7f7;
	background-color:transparent;
	height:106px;
	margin-bottom:0px;
}

#nav li a {
	text-transform:uppercase;
	color:#666;
	line-height:106px;
	padding-top:0;
	padding-bottom:0;
}

#nav li a:hover {
	color:#333;
	background-color:transparent;
}

.navbar-toggle {
	margin-top:25px;
}

.navbar-toggle .icon-bar {
	height:4px;
	background-color:#637394;
}

.navbar-brand {
	height:80px;
	padding:0;
	margin-top:8px;
	padding-left:15px;

}

.site-name {
	text-align:left;
	text-transform:uppercase;
	color:#333;
	width:40px;
	display:inline-block;
	font-weight:600;
	margin-top:10px;
	vertical-align:middle;
	margin-left:5px;
}

.logo {
	display:inline-block;
	width:40px;
	height:auto;
	margin-top:7px;
}

/* home page only styles */

.hero-row {
	margin-bottom:50px;
}

.hero-image {
	width:100%;
	height:300px;
	background-origin:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

.home-grid-label {
	text-align:left;
	color:#637394;
	font-family:'merriweather', Georgia, serif;
	margin-left:30px;
	margin-bottom:10px;
}

.home-post-grid-member {
	max-height:400px;
	overflow:hidden;
	margin-bottom:40px;
	-webkit-transition:all .2s ease-in-out;
}

.home-post-grid-member a {
	color:#333;
}

.hero-row h1 {
	color:#637394;;
}

.home-post-grid-member:hover {
	-webkit-transform:scale(1.05);
	-webkit-transition:all .2s ease-in-out;
}

.home-post-title {
	text-align:center;
	font-family:'merriweather', Georgia, serif;
	font-weight:400;
	margin: 0;
	padding-bottom:0;
	padding-left: 15px;
	padding-right: 15px;
}

.home-date {
	text-align:center;
	font-family:"source Sans pro", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	color:#999;
}

.home-preview {
	text-align:center;
	font-family:'merriweather', Georgia, serif;
	font-size:16px;
	line-height:1.3em;
	padding:0px 20px;
}

.hero-title {
	font-weight: 400;
	padding: 0px 30px;
	text-align: center;
	font-family:'merriweather', Georgia, serif;
	line-height:1.4em;
	margin-bottom:0px;
}

.hero-credits {
	text-align:center;
	font-family:"source Sans pro", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	color:#999;
}

#home-popular-label {
	margin-bottom:10px;
	font-weight:400;
}

.home-post-image {
	width:100%;
	height:200px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

.home-preview, .home-date, .home-post-title {
	background-color:#f7f7f7;
}


/* post body style */

.post-body-text-container {
	padding-top:35px;
}

.title-byline-container {
	font-family:'merriweather', Georgia, serif;
	text-align:left;
	padding-left:15px;
	color:#666;
}

.title-byline-container span {
	margin-right:10px;
}

.post-title {
	line-height:1.3em;
	font-weight:700;
	font-size:32px;
	color:#637394;
	margin-bottom:0px;
}

.credits span {
	display:block;
	line-height:1.5em;
}

.byline {
	font-style:italic;
	font-size:18px;
	color:#666;
}

.source-code-button {
	position:relative;
	margin:auto;
	left:0;
	right:0;
	margin-top:32px;
	padding-left:15px;
	padding-right:15px;
	text-transform:lowercase;
	font-variant:small-caps;
}

.source-code-button i {
	font-size:18px;
}

.btn-orange {
	background-color:#f7a04b;
	color:white;
	margin:auto;
	left:0;
	right:0;
	font-weight:400;
	font-size:18px;
	font-size:21px;
}

.btn-orange:hover {
	background-color:#e79341;
	color:white;
}

.btn-orange i {
	margin-right:10px;
}

.post-image {
	margin-bottom:30px;
}

.post-body-text-container h3 {
	
}

.description {
	font-style:italic;
	font-weight:400;
}

/* sharing */

#desktop-sharing-options {
	margin-top: 100px;
}

#mobile-sharing-options {
	width:100%;
	position:fixed;
	z-index:999;
	bottom:0;
}

.post-sharing-options {
	color:white;
}

.post-sharing-options li {
	width:50px;
	height:50px;
	text-align:center;
}

.sharing-option {
	line-height:50px;
	font-size:25px;
	text-align:center;
	min-height:50px;
}

.sharing-option i {
	line-height:50px;
}

.twitter-share {
	background-color:#6cdfea;
}

.facebook-share {
	background-color:#3b5998;
}

.google-share {
	background-color:#e34429;
}

.comment {
	background-color:#637394;
}

/* right bar */
.right-bar {
	background-color:#e1e6e8;
	font-size:16px;
	position:fixed;
	min-height:100%;
	overflow:hidden;
	top: 0px;
	margin-top: 115px;
}

.right-bar-content-slider {
	padding-left: 15px;
	padding-right: 15px;
}

.right-bar input {
	height:32px;
	box-shadow:none;
}

.right-bar input, .right-bar .input-group-addon {
	border-radius:0px;
}

.right-bar label {
	color:#637394;
	font-weight:400;
	font-family:'merriweather', Georgia, serif;
}

.search-button {
	color:white;
	border:none;
	background-color:#637394;
	font-size:18px;
}

.right-bar-label {
	font-family:'merriweather', Georgia, serif;
	color:#637394;
}

.search-container, .right-bar-group {
	margin-bottom:15px;
	min-width:300px;
}

.right-bar-li {
	margin-bottom:15px;
	font-weight:300;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.credits span{
		display:inline-block;
	}

	.logo {
		width:61px;
		margin-top:0px;
	}

	.navbar-brand {
		padding-left:30px;

	}

	.post-paragraph {
		font-weight:300;
	}
}

/* Hide right sidebar on mobile */
@media (max-width: 1200px) {
	#desktop-right-bar {
		display: none;
	}
}
