body {
	font-size:18px;
	/* Commented out in bootstrap.css */
	font-family: "source Sans pro", Helvetica, Arial, sans-serif;
}
.social-links {
	background-color:#637394;
	margin-bottom:0;
	border-radius:0px;
	min-height:35px;
	height:35px;
}

.social-links li a {
	color:white;
	font-variant: small-caps;
	letter-spacing:1px;
	font-size:18px;
	min-height:35px;
	height:35px;
	line-height:35px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}

#nav {
	background-color:#f7f7f7;
	height:106px;
}

#nav li a {
	text-transform:uppercase;
	color:#333;
	line-height:106px;
	padding-top:0;
	padding-bottom:0;
}

.navbar-toggle {
	margin-top:35px;
}

.icon-bar {
	background-color:#637394;
	height:3px;
}
.navbar-brand {
	height:80px;
	padding:0;
	margin-top:8px;

}

.site-name {
	text-align:left;
	text-transform:uppercase;
	color:#333;
	width:40px;
	display:inline-block;
	font-weight:600;
	margin-top:10px;
	vertical-align:middle;
	margin-left:5px;
}

.logo {
	display:inline-block;
	width:61px;
	height:auto;
}

/* post body style */

.title-byline-container {
	font-family:'merriweather', Georgia, serif;
	text-align:center;
}

.post-title {
	line-height:1.6em;
	font-weight:700;
	font-size:32px;
	color:#637394;
	text-align:center;
	margin-bottom:0px;
}

.byline {
	font-style:italic;
	font-size:16px;
}

.source-code-button {
	width:200px;
	position:relative;
	margin:auto;
	left:0;
	right:0;
	margin-top:13px;
}

.btn-orange {
	background-color:#f7a04b;
	color:white;
	margin:auto;
	left:0;
	right:0;
	font-weight:200;
	font-size:18px;
}

.btn-orange:hover {
	background-color:#e79341;
	color:white;
}

.btn-orange i {
	margin-right:10px;
}

.post-body-text-container {
	margin-top:35px;
}

.post-paragraph {
	font-weight:300;
	line-height:1.5em;
}